body {
    margin-bottom: 50px;
    background-image: linear-gradient(rgba(38, 38, 38, 0.3), rgba(38, 38, 38, 0.3)), url('./images/giammarco-boscaro-zeH-ljawHtg-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    color: white;
}

#todo_item_displaybox {
    border-color: black;
    border-style: dashed;
} 

#project_name_form_container {
    margin-bottom: 10px;;
}

#sidebar_container, #listing_container {
    border-radius: 10px;
    background-color:rgba(35, 30, 30, 0.8);
    padding: 5px;
}

#sidebar_container {
    float:left;
    position:fixed;
    width: 20vw;
    height: 95vh;
    margin-bottom: 50px;

}

#listing_container {
    float:right;
    width: 75vw;
    min-height: 100vh;
    margin-bottom: 50px;
}

#listing_elem, #listing_complete_elem, #project_name_navlist, #project_name_form, #todo_item_form {
    border-color: black;
    border-style: groove;
}

.nav_item_anchor {
    text-decoration: none;
    color: rgb(20, 142, 4);
}

.display_title {
    font-size: 20px;
    font-weight: bold;
}

#footer_container {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: gray;
    width: 100vw;
}

.todo_item_displaybox {
    color: black;
}