#todo_item_displaybox {
    border-color: black;
    border-style: dashed;
} 


#sidebar_container, #listing_container {
    border-color: black;
    border-style: solid;
}

#listing_elem, #listing_complete_elem, #project_name_navlist, #project_name_form, #todo_form_container{
    border-color: black;
    border-style: groove;
}

.nav_item_anchor {
    text-decoration: none;
    color: rgb(20, 142, 4);
}

.display_title {
    font-size: 20px;
    font-weight: bold;
}